<%= form_for(@guy, :html => { :multipart => true }) do |f| %>
  <% if @guy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guy.errors.count, "error") %> prohibited this guy from being saved:</h2>

      <ul>
      <% @guy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_area :story %>
  </div>
  <div class="field">
    <%= f.label :mug %><br />
    <%= f.file_field :mug %>
  </div>
  <div class="field">
    <%= f.label :up_votes %><br />
    <%= f.number_field :up_votes %>
  </div>
  <div class="field">
    <%= f.label :down_votes %><br />
    <%= f.number_field :down_votes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
